#name {
    font-family: impact;
    font-size: 50px;
    text-emphasis: underline;
    color: pink;
    opacity: 0.5;
}

.about {
    font-family: "impact";
    color: #4682B4;
    text-emphasis: underline;
    opacity: 0.5;
    font-style: normal;

}

h3 {
    font-family: "impact";
    font-size: 20px;
    color: #4682B4;
    text-emphasis: underline;
    opacity: 0.5;
}

h4 {
    font-family: "impact";
    color: #4682B4;
    text-emphasis: underline;
    font-size: 20px;
    opacity: 0.5;
}

table, th, td {
    border: 0.5px solid black;
    font-family: Georgia;
    width: 50%;
    background-color: #F5F5F5;
    color: black;
    padding: 10px;
  }
